li.result{
    width: 300px;
}

.green{
    background-color: #dff0d8;
}

.red{
    background-color: #f2dede;
}

.no-transition {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}