<p>
  Task
  <span class="taskId" ng-bind="taskId"></span>
  of
  <span class="sumTasks" ng-bind="sumTasks"></span>
</p>

<div class="progress">
  <div class="progress-bar no-transition" role="progressbar" style="width: {{(taskId / sumTasks)*100}}%;">
  </div>
</div>

<hr>


<pre class="prettyprint linenums lang-js" ng-bind="task"></pre>
<br>
<section class="text-center">
  <button class="btn btn-success btn-lg" value="true" ng-click="saveResult('true')">True</button>
  <button class="btn btn-danger btn-lg" value="false" ng-click="saveResult('false')">False</button>
</section>
